<a href="https://colab.research.google.com/github/cgarciav/base-de-datos-HCC/blob/master/selecci%C3%B3n_caracter%C3%ADsticas_lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals
#%load_ext tensorboard    Carga de Tensorboard (opcional)
# Install TensorFlow
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

import tensorflow as tf #libreria de google que permite hacer deeplearning
from tensorflow import keras #libreria de alto nivel
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np
import random
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path='/content/drive/My Drive/analisis de datos/hcc-data-complete-balanced.csv'
df=pd.read_csv(path)

In [0]:
df

     Gender  Symptoms  Alcohol  HBsAg  ...   Iron   Sat  Ferritin  Class
0         1         0        1      0  ...   52.5  37.0     856.0      1
1         0         0        0      0  ...   32.0  10.0      18.0      1
2         1         0        1      1  ...   28.0   6.0      16.0      1
3         1         1        1      0  ...  131.0  78.0    1316.0      0
4         1         1        1      1  ...   59.0  15.0      22.0      1
..      ...       ...      ...    ...  ...    ...   ...       ...    ...
199       0         0        0      0  ...   73.3  46.0     873.0      0
200       0         1        1      0  ...   69.3  23.0      70.0      0
201       1         1        1      0  ...   71.2  29.0     106.0      0
202       1         1        1      0  ...   94.4  83.0     859.0      0
203       0         1        0      0  ...   14.6   5.0     161.0      0

[204 rows x 50 columns]

In [0]:
#df.iloc[:, 49]

0      1
1      1
2      1
3      0
4      1
      ..
199    0
200    0
201    0
202    0
203    0
Name: Class, Length: 204, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [0]:
x = df.drop(['Class'], axis=1) 
y=df['Class']
x_train, x_test, y_train, y_test = train_test_split(x, y,stratify=y, test_size=0.2, random_state=42)

In [0]:
#normalizamos datos
from sklearn import preprocessing

scaler=preprocessing.StandardScaler().fit(x_train)

x_train_transformed=scaler.transform(x_train)
x_test_transformed=scaler.transform(x_test)

In [0]:
from keras.layers import Input, Dense
from keras.models import Model
from keras.regularizers import l1, l2

Using TensorFlow backend.

LASSO estimation with stochastic gradient descent

In [0]:
lambda_val = .7
lasso_input = Input(shape = (49,))
lasso_fn = Dense(1, kernel_regularizer = l1(lambda_val))(lasso_input)
lasso_model = Model(inputs = lasso_input, outputs = lasso_fn)
lasso_model.compile(loss = 'mean_squared_error', optimizer = "sgd")
lasso_model.fit(x_train_transformed, y_train, epochs = 10000, batch_size = 500, verbose = 0)
weights = lasso_model.get_weights()
b = weights[0]
b

array([[-5.7535246e-03],
       [-6.7300675e-04],
       [-3.2047415e-04],
       [ 2.4149381e-03],
       [ 4.0412964e-03],
       [-1.5444788e-03],
       [ 4.1515273e-03],
       [-2.2914442e-03],
       [-3.7372555e-03],
       [-5.7628150e-03],
       [ 1.6939864e-03],
       [-9.2342496e-05],
       [ 2.9721064e-04],
       [ 4.6499269e-03],
       [-7.5489283e-03],
       [ 5.6273942e-03],
       [ 8.1435870e-04],
       [-2.3060529e-03],
       [-6.5543456e-04],
       [-5.7753730e-03],
       [ 3.5627857e-03],
       [-3.5361089e-03],
       [ 2.9361933e-03],
       [-4.3705460e-03],
       [ 4.0167775e-03],
       [-2.8165919e-03],
       [-9.1698691e-03],
       [ 1.8375474e-03],
       [-1.8523410e-03],
       [-1.4421218e-03],
       [ 9.3152840e-04],
       [-4.0510218e-03],
       [-4.1217548e-03],
       [ 8.4057916e-04],
       [-2.7872082e-03],
       [-3.4528221e-03],
       [-1.3194396e-03],
       [-1.3664425e-03],
       [ 8.4411073e-04],
       [ 3.7743570e-03],
       [-4.0822392e-03],
       [ 4.5264754e-03],
       [-3.0651921e-04],
       [ 5.2984338e-05],
       [-6.7163538e-03],
       [-5.9933099e-03],
       [-4.5124106e-03],
       [-1.7993753e-03],
       [ 2.9449840e-03]], dtype=float32)